* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    padding: 0;
    margin: 0;
   

}

html {
    scroll-behavior: smooth;
}

section {

    padding: 50px;
    padding-top: 0px;
    text-align: center;
    background: white;
    margin: 0 auto;



}

header {
    max-width: 1200px;
    font-family: "poppins", sams-serif;
    color: rgb(255, 170, 0);
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;


}

.btn-what {
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 55px;
    padding: 10px;
    bottom: 20px;
    right: 20px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

}

.logo {

    width: 20%;
}





.navigation--item {
    text-decoration: none;
    color: #ff8c00;
    margin-left: 24px;
    font-size: 15px;
}



.navigation--item:hover {
    color: #26b7ff;
    text-decoration: underline;
}

.navigation--button {
    border: none;
    padding: 10px 36px;
    background: linear-gradient(270deg, #FAA245 0%, #D8328A 37.25%, #753872 100%);
    border-radius: 50px;
    color: #ffff;
}

.menu-button {
    flex-grow: 1;
    display: none;
}

.menu-button button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.mobile-navigation {
    font-family: "poppins", sams-serif;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 24px;
    display: none;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
}

.mobile-navigation__open {
    transform: translateX(0);
}

.mobile-navigation--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.close-button button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.mobile-navigation--item {
    text-decoration: none;
    font-size: 1.5rem;
    color: #bdbdbd;
    display: block;
    margin-bottom: 24px;
    margin-top: 24px;
}

.about-page {
    background: url("/assets/body\ completo\ .jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;

}

.about-me-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 35px;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background: #fff;




}

.about-me-page img {
    width: 100%;
    height: 500px;

}

.about-me-page p {
    font-size: 15px;
    text-align: left;
    font-family: "poppins", sams-serif;
    margin: 25px;
    padding: 0;
    color: rgb(69, 69, 69);


}

.skill__title-page {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    font-family: "poppins", sams-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(255, 140, 0);
}


footer {
    display: block;
    background-color: #262626;
    text-align: center;
    padding: 10px;

}

footer h1 {
    font-size: 32px;
    font-weight: 500;
    font-family: "poppins", sams-serif;
    margin-bottom: 10px;
    background: linear-gradient(270deg, #4c4c4c 0%, #5e5e5e 37.25%, #8d8d8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer p {
    font-family: "poppins", sams-serif;
    font-size: 12px;
    margin-top: 20px;
    background: linear-gradient(270deg, #4c4c4c 0%, #5e5e5e 37.25%, #8d8d8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials--item {
    font-family: "poppins", sams-serif;
    font-size: 25px;
    margin: 0 20px;
    margin-bottom: 20px;
    align-items: center;
    background: linear-gradient(270deg, #4c4c4c 0%, #5e5e5e 37.25%, #8d8d8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media only screen and (max-width:600px) {



    .navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }

    .menu-button {
        display: block;
    }

    header {
        margin: 15px;
    }
}

@media (max-width: 1700px) {
    .about-me-page {

        grid-template-columns: 1fr;
    }

    .about-me-page img {
        display: none;
    }
}