* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    padding: 0;
    margin: 0;


}

html {
    scroll-behavior: smooth;
}

section {

   
    text-align: center;
    background: white;
    margin: 0 auto;



}

header {
    max-width: 1200px;
    font-family: "poppins", sams-serif;
    color: rgb(255, 170, 0);
    display: flex;
    align-items: center;
    margin: auto;


}



.navigation {
    flex-grow: 1;
    margin: 0 210px;
}

.logo {
    width: 80px;

}



.navigation--item {
    text-decoration: none;
    color: #ff8c00;
    margin-left: 24px;
    font-size: 17px;

}



.navigation--item:hover {
    color: #000000;

}

.navigation--button {
    border: none;
    padding: 10px 36px;
    background: linear-gradient(270deg, #FAA245 0%, #D8328A 37.25%, #753872 100%);
    border-radius: 50px;
    color: #ffff;
}

.menu-button {
    flex-grow: 1;
    display: none;
}

.menu-button button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.mobile-navigation {
    font-family: "poppins", sams-serif;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: 24px;
    display: none;
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
    z-index: 100;
}

.mobile-navigation__open {
    transform: translateX(0);
}

.mobile-navigation--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.close-button button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.mobile-navigation--item {
    text-decoration: none;
    font-size: 1.5rem;
    color: #bdbdbd;
    display: block;
    margin-bottom: 24px;
    margin-top: 24px;
}


.main {
    width: 100%;
    height: 100vh;
    position: relative;
    
    


}


.videos{
width: 100%;
height: 100%;
object-fit: cover;
}

.main--img{
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content:left;
    align-items: center;
    display: flex;
}
.main--img img{
    width: 35%;
    background:rgba(255, 255, 255, 0.57)
}







.headline {
    font-size: 62px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #050505;

}



.download {
    font-size: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px 36px;
    background: transparent;
    border-radius: 50px;
    background: linear-gradient(270deg, #ffa200 0%, #da6c04 37.25%, #c07514 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.btn-what {
    position: fixed;
    width: 75px;
    height: 75px;
    line-height: 55px;
    padding: 10px;
    bottom: 20px;
    right: 20px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

}


.btn-what:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
}



.download .fa {
    background: inherit;
    font-size: 1.25rem;
    margin-right: 6px;
}


.about{
    margin: 80px;
    justify-content: center;
    align-items: center;
}

.p {
    font-size: 15px;
    text-align: left;
    font-family: "poppins", sams-serif;
    margin: 25px;
    padding: 0;
    color: rgb(69, 69, 69);


}


.skill__title {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    font-family: "poppins", sams-serif;
    margin:10px;
    color: rgb(255, 140, 0);
}

.about-me {
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #fff;



}



.about-me img {
    width: 750px;
    height: 430px;

}


.portafolio {
    
    background: url("/assets/fondo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}
.custom-shape-divider-top-1666725209 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1666725209 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 127px;
}

.custom-shape-divider-top-1666725209 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-bottom-1666725625 {
    
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1666725625 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 127px;
}

.custom-shape-divider-bottom-1666725625 .shape-fill {
    fill: #FFFFFF;
}

.portafolio-reveal {
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 1500px;
    margin: auto;
}

.skill__title2 {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    font-family: "poppins", sams-serif;
    margin-bottom: 25px;
    margin-top: 25px;
    color: rgb(255, 255, 255);
}




.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  

}

.card {
   
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 0;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background: #fff;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(37, 37, 37, 0.818);
}



.card img {
    width:100%;
    height: 50%;
}

.card h5 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "poppins", sams-serif;
    color: rgb(255, 140, 0);
}

.card p {
    font-size: 15px;
    text-align: left;
    font-family: "poppins", sams-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.link {
    font-family: "poppins", sams-serif;
    display: block;
    font-size: 17px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px 36px;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff8400 0%, #df8201 37.25%, #e29401 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}


.link .fab {
    margin-right: 6px;
}



.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;


}

.services-reveal {
    padding:0;
    max-width: 1500px;
    margin: 80px auto;
}

.services__item {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 65px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;

}

.services__item:hover {
    transform: scale(1.1);


}



.services__item h5 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "poppins", sams-serif;
    

}



.icon {
    width: 150px;
    height: 100px;
}


.icon3 {
    width: 110px;
    height: 100px;
}

.icon2 {
    width: 90px;
    height: 100px;

}

.contactos{
    background-color: #262626;
    color: #FFFFFF;

}

.contactos h5 {
    font-size: 20px;
    font-family: "poppins", sams-serif;
    

}




footer {
    display: block;
    background-color: #262626;
    text-align: center;
    padding: 10px;

}



footer p {
    font-family: "poppins", sams-serif;
    font-size: 12px;
    margin-top: 20px;
    background: linear-gradient(270deg, #4c4c4c 0%, #5e5e5e 37.25%, #8d8d8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.socials--item {
    font-family: "poppins", sams-serif;
    font-size: 30px;
    margin: 0 20px;
    margin-bottom: 20px;
    align-items: center;
    background: linear-gradient(270deg, #4c4c4c 0%, #5e5e5e 37.25%, #8d8d8d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.spinner {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 9px solid #ffa600;
    animation: spinner-bulqg1 0.96s infinite linear alternate,
        spinner-oaa3wk 1.92s infinite linear;
}

@keyframes spinner-bulqg1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
}

@keyframes spinner-oaa3wk {
    0% {
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        transform: scaleY(-1) rotate(-135deg);
    }
}

.loader {
    background: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 1s ease-in-out;
}

.loader2 {
    clip-path: circle(0% at 100% 100%);
}



@media only screen and (max-width:600px) {
    

    .download {
        font-size: 15px;
        padding: 10px 25px;
    }

    header .logo {
        display: none
    }

    .fa {
        display: none;
    }
    .headline {
        font-size: 42px;
    }

    .download .fa {
        display: block;
    }



    .navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }

    .menu-button {
        display: block;
    }

    header {
        margin: 15px;
    }
}



@media (max-width: 1560px) {

    .about-me img {
        width: 100%;
        height: 350px;

    }

    .P {
        font-size: 15px;
    }



    .services {
        grid-template-columns: 1fr 1fr;

    }



}



@media (max-width: 1700px) {

    .card-grid {
        grid-template-columns: 1fr 1fr;
       
    }
    

    .about {

        background-size: cover;
    }
    .portafolio-reveal {
        
        margin:0 50px;
    }
    .services-reveal {
        
        margin: 0 50px
    }
    .about{
        margin: 50px
    }
    
}

@media (max-width: 1100px) {
   

    .headline{
        display: none;
    }

    .container{
        display: block;
    }

    .skill__title {

        font-size: 32px;
    }
    .skill__title2 {

        font-size: 32px;
    }


    .about-me img {

        height: 350px;

    }

    .main--img img {
        width: 50%;
        
    }

    .navigation {
        margin: 0 50px;
    }

   


}

@media (max-width: 994px) {
    .about-me img {

        height: 340px;

    }

    .navigation {
        margin: 0 0px;
    }

    .card-grid {
        grid-template-columns: 1fr;
       


    }
   
   
}

@media (max-width: 930px) {
    .about-me img {

        height: 300px;

    }
}

@media (max-width: 800px) {
    .about-me {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .about-me img {

        display: none;


    }
}


@media (max-width: 600px) {
    .about__skills {
        grid-template-columns: 1fr 1fr;
        gap: 10px;



    }

  .card img{
    width: 100%;
    height: 40%;
  }





    .services {
        grid-template-columns: 1fr;


    }
    

    



    .skill__item {
        font-size: 50px;
        padding: 5px;
        min-width: 75px;
        height: 85px;
        margin-bottom: 25px;
    }

}

@media (max-width: 400px) {
    

    .about-me img {
        width: 100%;
        height: 250px;


    }
    
  .card p{
    font-size: 12px;
  }
  .card h5{
    font-size: 15px;
  }

  .p {
    font-size: 12px;
  }
  .services__item h5 {
    font-size: 15px;
   

}

 
 
 
    .portafolio-reveal {
        
        margin: 20px;
    }
    .services-reveal {
       
        margin: 20px
    }
    .about{
        margin: 20px 
    }
    
}